<%= provide(:title, "Home") %>
<div class="jumbotron">
  <div class="container">
  	<div></div>
    <h1>Bienvenido</h1>
	<p>Sistema de gestión de mantenimiento de equipos</p>
	<p><%= link_to "Registre su hospital", signup_path, class: "btn btn-primary btn-lg"%></p>
  </div>
</div>