<div class="jumbotron">
  <div class="container">
  	<div></div>
    <h1>Bienvenido</h1>
	<p>Sistema de gestión de mantenimiento de equipos</p>
	<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>