// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 20px;
  .form-control {
    margin-bottom: 10px;
  }
}
