<ul class="nav navbar-nav side-nav">
    <li>
        <%= link_to root_path, id: "" do %>
          <i class="fa fa-fw fa-dashboard"></i> 
          Dashboard
        <% end %>
    </li>
    <li>
			 <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-stethoscope"></i> Equipo <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="demo" class="collapse">
            <li>
              <%= link_to  hospital_equipment_index_path(current_hospital), id: "" do %>
                <i class="fa fa-fw fa-cubes"></i> 
                Todos
              <% end %>
            </li>
            <li>
          		<%= link_to  new_hospital_equipment_path(current_hospital) do %>
			          <i class="fa fa-fw fa-plus-circle"></i> 
			          Nuevo Equipo
			        <% end %>
            </li>
        </ul>
    </li>
        <li>
      <%= link_to root_path, id: "" do %>
			  <i class="fa fa-fw fa-users"></i>
			  Usuarios
			<% end %>
    </li>
    
</ul>
<!-- /.navbar-collapse -->
